@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input,
select,
button {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1537px) {
  .product-list-table {
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    /* Modern Scrollbar */
  }
  .product-list-table thead tr {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .product-list-table thead tr th {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .product-list-table thead tr th:nth-child(1) {
    text-align: start;
    padding-left: 10px;
  }
  .product-list-table thead tr th:nth-child(2) {
    grid-column: 2/span 3;
    text-align: start;
  }
  .product-list-table thead tr th:nth-child(3) {
    grid-column: 5/span 2;
    text-align: start;
  }
  .product-list-table thead tr th:nth-child(4) {
    grid-column: 7/span 2;
    text-align: start;
  }
  .product-list-table thead tr th:nth-child(5) {
    grid-column: 9/span 2;
    text-align: start;
  }
  .product-list-table thead tr th:nth-child(6) {
    text-align: start;
  }
  .product-list-table ::-webkit-scrollbar {
    width: 8px;
    /* Adjust width */
  }
  .product-list-table ::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track background */
    border-radius: 10px;
  }
  .product-list-table ::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scroll thumb color */
    border-radius: 10px;
    /* Rounded corners */
    border: 2px solid transparent;
    /* Padding inside */
    background-clip: padding-box;
  }
  .product-list-table ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker on hover */
  }
  .product-list-table tbody {
    max-height: 470px;
    height: 470px;
    overflow-y: auto;
    padding-bottom: 40px;
  }
  .product-list-table tbody .loading {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-list-table tbody .error-page {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-list-table tbody .error-page p {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .product-list-table tbody .empty-list {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-list-table tbody .empty-list p {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
  .product-list-table tbody tr {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 14px 0;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .product-list-table tbody tr td {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
  }
  .product-list-table tbody tr td:nth-child(1) {
    text-align: start;
    padding-left: 15px;
  }
  .product-list-table tbody tr td:nth-child(2) {
    grid-column: 2/span 3;
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .product-list-table tbody tr td:nth-child(2) i {
    font-size: 24px;
  }
  .product-list-table tbody tr td:nth-child(2) div {
    display: flex;
    flex-direction: column;
  }
  .product-list-table tbody tr td:nth-child(2) div strong {
    font-size: 0.8rem;
  }
  .product-list-table tbody tr td:nth-child(2) div p {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .product-list-table tbody tr td:nth-child(3) {
    grid-column: 5/span 2;
  }
  .product-list-table tbody tr td:nth-child(3) img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-list-table tbody tr td:nth-child(4) {
    grid-column: 7/span 2;
  }
  .product-list-table tbody tr td:nth-child(5) {
    grid-column: 9/span 2;
  }
  .product-list-table tbody tr td:nth-child(7) {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .product-list-table tbody tr td:nth-child(7) i {
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
  }
  .product-list-table tbody tr td:nth-child(7) i:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}/*# sourceMappingURL=product.css.map */