@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input,
select,
button {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1537px) {
  .pond-water-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 100px 40px;
    scroll-behavior: smooth;
  }
  .pond-water-container .loading {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pond-water-container .pond-water-header {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pond-water-container .pond-water-header .header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .pond-water-container .pond-water-header .header strong {
    font-size: 1.1rem;
  }
  .pond-water-container .pond-water-header .header p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .pond-water-container .pond-water-header .update-water {
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    background: #4b87e0;
    -moz-column-gap: 10px;
         column-gap: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .pond-water-container .pond-water-header .update-water p {
    font-size: 0.7rem;
    color: white;
  }
  .pond-water-container .pond-water-header .update-water i {
    font-size: 18px;
    color: white;
  }
  .pond-water-container .pond-water-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    row-gap: 25px;
  }
  .pond-water-container .pond-water-list .pond-water-param {
    display: flex;
    justify-content: space-between;
  }
  .pond-water-container .pond-water-list .pond-water-param strong,
  .pond-water-container .pond-water-list .pond-water-param p {
    font-size: 0.85rem;
  }
  .pond-water-container .pond-water-list .pond-water-param p {
    color: rgba(0, 0, 0, 0.7);
  }
  .pond-water-container .pond-water-recommendation-header {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .pond-water-container .pond-water-recommendation-header strong {
    font-size: 1.1rem;
  }
  .pond-water-container .pond-water-recommendation-header p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .pond-water-container .pond-water-recommendation {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .pond-water-container .pond-water-recommendation .good strong,
  .pond-water-container .pond-water-recommendation .good p {
    color: green !important;
    font-weight: 600 !important;
  }
  .pond-water-container .pond-water-recommendation .moderate strong,
  .pond-water-container .pond-water-recommendation .moderate p {
    color: rgb(148, 148, 46) !important;
    font-weight: 600 !important;
  }
  .pond-water-container .pond-water-recommendation .poor strong,
  .pond-water-container .pond-water-recommendation .poor p {
    color: red !important;
    font-weight: 600 !important;
  }
  .pond-water-container .pond-water-recommendation .careful strong,
  .pond-water-container .pond-water-recommendation .careful p {
    color: yellow !important;
  }
  .pond-water-container .pond-water-recommendation .recommendation-param {
    display: flex;
    justify-content: space-between;
  }
  .pond-water-container .pond-water-recommendation .recommendation-param strong,
  .pond-water-container .pond-water-recommendation .recommendation-param p {
    font-size: 0.9rem;
  }
  .pond-water-container .pond-water-recommendation .recommendation-param p {
    color: rgba(0, 0, 0, 0.7);
  }
}/*# sourceMappingURL=pondwater.css.map */