@import "../../global/global.scss";

@media only screen and (max-width: 1537px) {
    .login-success-modal-cover {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 10;
        background: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;

        .modal {
            width: 400px;
            max-height: 700px;
            background: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 40px 50px;
            align-items: center;
            row-gap: 10px;

            i {
                // margin-top: 30px;
                font-size: 100px;
                color: rgb(25, 202, 25);
            }

            strong {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
            }

            p {
                text-align: center;
                font-size: 0.8rem;
                font-weight: 400;
                color: rgba(0, 0, 0, .7);
            }
        }
    }

    .add-pond-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .add-pond-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .add-pond-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .add-pond-detail {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }
            }

            .add-pond-water {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                row-gap: 25px;

                .header {
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    strong {
                        font-size: 1.1rem;
                    }

                    p {
                        font-size: 0.75rem;
                        color: rgba(0, 0, 0, .7);
                    }
                }

                ::placeholder {
                    color: rgba(0, 0, 0, .8);
                    font-size: 0.8rem;
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }

                #temp {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .submit {
                    display: flex;
                    justify-content: end;
                    column-gap: 15px;


                    button:nth-child(1) {
                        padding: 10px 40px;
                        border: 2px solid rgba(0, 0, 0, .2);
                        color: black;
                        border-radius: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 50px;
                        background: #4b87e0;
                        font-weight: 600;
                        border-radius: 15px;
                        color: white;
                        cursor: pointer;

                    }
                }
            }
        }
    }

    .update-pond-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .update-pond-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .update-pond-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .update-pond-form {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }

                .submit {
                    display: flex;
                    justify-content: end;
                    column-gap: 15px;


                    button:nth-child(1) {
                        padding: 10px 40px;
                        border: 2px solid rgba(0, 0, 0, .2);
                        color: black;
                        border-radius: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 50px;
                        background: #4b87e0;
                        font-weight: 600;
                        border-radius: 15px;
                        color: white;
                        cursor: pointer;

                    }
                }
            }
        }
    }

    .update-water-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .update-water-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .update-water-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .update-water-form {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }

                #temp {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .submit {
                    display: flex;
                    justify-content: end;
                    column-gap: 15px;


                    button:nth-child(1) {
                        padding: 10px 40px;
                        border: 2px solid rgba(0, 0, 0, .2);
                        color: black;
                        border-radius: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 50px;
                        background: #4b87e0;
                        font-weight: 600;
                        border-radius: 15px;
                        color: white;
                        cursor: pointer;

                    }
                }
            }
        }
    }

    .add-koi-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .add-koi-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .add-koi-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .add-koi-form {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }

                .select-two-fields {
                    display: flex;
                    column-gap: 20px;

                    .select {
                        width: 50%;
                        position: relative;
                        border: 1px solid rgba(0, 0, 0, .2);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;

                        select {
                            width: 100%;
                            padding: 12px 25px;
                            color: black;
                        }

                        i {
                            left: 90%;
                            font-size: 20px;
                            position: absolute;
                            z-index: 18;
                        }
                    }
                }

                .menu-flags {
                    border-radius: 10px;

                    button {
                        font-size: 13px !important;
                    }
                }

                #koiname {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .submit {
                    display: flex;
                    justify-content: end;
                    column-gap: 15px;


                    button:nth-child(1) {
                        padding: 10px 40px;
                        border: 2px solid rgba(0, 0, 0, .2);
                        color: black;
                        border-radius: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 50px;
                        background: #4b87e0;
                        font-weight: 600;
                        border-radius: 15px;
                        color: white;
                        cursor: pointer;

                    }
                }
            }
        }
    }

    .update-koi-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .update-koi-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .update-koi-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .update-koi-form {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;
                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }

                .select-two-fields {
                    display: flex;
                    column-gap: 20px;

                    .select {
                        width: 50%;
                        position: relative;
                        border: 1px solid rgba(0, 0, 0, .2);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;

                        select {
                            width: 100%;
                            padding: 12px 25px;
                            color: black;
                        }

                        i {
                            left: 90%;
                            font-size: 20px;
                            position: absolute;
                            z-index: 18;
                        }
                    }
                }

                .menu-flags {
                    border-radius: 10px;

                    button {
                        font-size: 13px !important;
                    }
                }

                #koiname {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .submit {
                    display: flex;
                    justify-content: end;
                    column-gap: 15px;


                    button:nth-child(1) {
                        padding: 10px 40px;
                        border: 2px solid rgba(0, 0, 0, .2);
                        color: black;
                        border-radius: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 50px;
                        background: #4b87e0;
                        font-weight: 600;
                        border-radius: 15px;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .koi-detail-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        justify-content: end;

        .koi-detail-modal {
            width: 500px;
            height: 100%;
            max-height: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 30px;
            overflow-y: auto;

            .koi-detail-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.2rem;
                }

                i {
                    font-size: 28px;
                    cursor: pointer;
                }
            }

            .koi-detail-info {
                display: flex;
                flex-direction: column;

                img {
                    margin: 30px 0;
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                    align-self: center;
                    border-radius: 15px;
                }

                .koi-detail-info-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;

                        strong {
                            font-size: 1.05rem;
                        }

                        p {
                            color: rgba(0, 0, 0, .8);
                            font-size: 0.8rem;
                        }
                    }

                    span {
                        text-decoration: underline;
                        font-size: 0.75rem;
                        color: rgba(0, 0, 0, .8);
                        cursor: pointer;
                    }
                }

                .koi-detail-main {
                    margin-top: 25px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 25px;

                    .koi-info {
                        display: flex;
                        justify-content: space-between;

                        strong {
                            font-size: 0.85rem;
                        }

                        p {
                            font-size: 0.8rem;
                        }

                        p {
                            color: rgba(0, 0, 0, .8);
                        }
                    }
                }
            }

            .koi-detail-recommendation {
                margin-top: 25px;

                .koi-recommendation-header {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    strong {
                        font-size: 1.05rem;
                    }

                    p {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }
                }

                .recommendation {
                    margin-top: 25px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    .koi-food {
                        display: flex;
                        justify-content: space-between;

                        strong {
                            font-size: 0.85rem;
                        }

                        p {
                            font-size: 0.8rem;
                        }

                        p {
                            color: rgba(0, 0, 0, .8);
                        }
                    }

                    span {
                        font-size: 0.85rem;
                        color: rgba(0, 0, 0, .8);
                    }
                }

                .utils {
                    margin: 20px 0;
                    display: flex;
                    justify-content: end;
                    column-gap: 20px;

                    button {
                        border-radius: 15px;
                        cursor: pointer;
                        font-weight: 600;
                    }

                    button:nth-child(1) {
                        padding: 10px 30px;
                        background: #4b87e0;
                        color: white;
                        cursor: pointer;

                    }

                    button:nth-child(2) {
                        padding: 10px 40px;
                        background: red;
                        color: white;
                        cursor: pointer;

                    }
                }

            }
        }

        .koi-history-modal {
            width: 500px;
            height: 100%;
            max-height: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 30px;
            overflow-y: auto;
            border-right: 1px solid rgba(0, 0, 0, .2);

            .koi-history-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.2rem;
                }

                i {
                    font-size: 28px;
                    cursor: pointer;
                }
            }

            .koi-history-chart {
                margin: 30px 0 10px 0;
            }

            .koi-history-main {
                display: flex;
                flex-direction: column;

                .header {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    strong {
                        font-size: 1.05rem;
                    }

                    p {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }
                }

                .history {
                    margin-top: 20px;

                    thead {
                        tr {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            padding-bottom: 7px;
                            border-bottom: 1px solid rgba(0, 0, 0, .2);

                            th {
                                font-size: 0.75rem;
                            }

                            th:nth-child(1) {
                                text-align: start;
                            }

                            th:nth-child(2) {
                                text-align: start;
                            }

                            th:nth-child(3) {
                                text-align: start;
                            }

                            th:nth-child(4) {
                                text-align: start;
                            }
                        }
                    }

                    tbody {
                        tr {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            padding: 10px 0;
                            border-bottom: 1px solid rgba(0, 0, 0, .2);

                            td {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .del-pond-containter {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .del-pond-modal {
            width: 500px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .del-pond-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .del-pond-main {
                margin: 30px 0;

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-align: center;
                    // color: red;
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;

                button:nth-child(1) {
                    width: 100%;
                    padding: 10px 50px;
                    background: red;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }

    .del-koi-containter {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .del-koi-modal {
            width: 500px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .del-koi-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .del-koi-main {
                margin: 30px 0;

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-align: center;
                    // color: red;
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;

                button:nth-child(1) {
                    width: 100%;
                    padding: 10px 50px;
                    background: red;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }

    .cancel-order-containter {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .cancel-order-modal {
            width: 500px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .cancel-order-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .cancel-order-main {
                margin: 30px 0;

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-align: center;
                    // color: red;
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;

                button:nth-child(1) {
                    width: 100%;
                    padding: 10px 50px;
                    background: red;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .add-blog-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .add-blog-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .add-blog-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .add-blog-form {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                input {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .ck-editor__editable {
                    min-height: 300px;
                    /* Adjust the minimum height as needed */
                    max-height: 600px;
                    /* You can also set a maximum height if needed */
                    overflow-y: auto;
                    /* Enable scrolling if content exceeds max height */
                    padding: 10px;
                    /* Add some padding for a more comfortable text entry */
                    border: 1px solid #ddd;
                    /* Optional: Adds a border for visual clarity */
                    border-radius: 4px;
                    /* Rounded corners for a smoother look */
                    outline: none;
                }

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;


                button:nth-child(1) {
                    padding: 10px 40px;
                    border: 2px solid rgba(0, 0, 0, .2);
                    color: black;
                    border-radius: 15px;
                    font-weight: 600;
                    cursor: pointer;

                }

                button:nth-child(2) {
                    padding: 10px 50px;
                    background: #4b87e0;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }

    .update-blog-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .update-blog-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .update-blog-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .update-blog-form {
                display: flex;
                flex-direction: column;
                row-gap: 35px;

                input {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .ck-editor__editable {
                    min-height: 300px;
                    /* Adjust the minimum height as needed */
                    max-height: 600px;
                    /* You can also set a maximum height if needed */
                    overflow-y: auto;
                    /* Enable scrolling if content exceeds max height */
                    padding: 10px;
                    /* Add some padding for a more comfortable text entry */
                    border: 1px solid #ddd;
                    /* Optional: Adds a border for visual clarity */
                    border-radius: 4px;
                    /* Rounded corners for a smoother look */
                    outline: none;
                }

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;


                button:nth-child(1) {
                    padding: 10px 40px;
                    border: 2px solid rgba(0, 0, 0, .2);
                    color: black;
                    border-radius: 15px;
                    font-weight: 600;
                    cursor: pointer;

                }

                button:nth-child(2) {
                    padding: 10px 50px;
                    background: #4b87e0;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }

    .add-product-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;

        .add-product-modal {
            width: 800px;
            max-height: 700px;
            background: white;
            border-radius: 15px;
            padding: 40px;
            overflow-y: auto;

            .add-product-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                strong {
                    font-size: 1.3rem;
                }

                i {
                    font-size: 32px;
                    cursor: pointer;
                }
            }

            .add-product-detail {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                .input-image {
                    position: relative;
                    margin-top: 30px;
                    width: 300px;
                    height: 220px;
                    border: 1px dashed rgba(0, 0, 0, .3);
                    align-self: center;
                    border-radius: 15px;

                    .bx-trash-alt {
                        position: absolute;
                        left: 110%;
                        font-size: 24px;
                        color: red;
                        cursor: pointer;

                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        row-gap: 10px;

                        img {
                            width: 300px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                        i {
                            font-size: 40px;
                        }

                        p {
                            font-size: 0.85rem;
                            color: $fade-black;
                        }
                    }

                    input {
                        display: none;
                    }
                }

                .ck-editor__editable {
                    min-height: 300px;
                    /* Adjust the minimum height as needed */
                    max-height: 600px;
                    /* You can also set a maximum height if needed */
                    overflow-y: auto;
                    /* Enable scrolling if content exceeds max height */
                    padding: 10px;
                    /* Add some padding for a more comfortable text entry */
                    border: 1px solid #ddd;
                    /* Optional: Adds a border for visual clarity */
                    border-radius: 4px;
                    /* Rounded corners for a smoother look */
                    outline: none;
                }

                .cate {
                    cursor: pointer;
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .cate:hover {
                    border: 1px solid black;
                }

                .name {
                    padding: 12px 25px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    color: black;
                    font-size: 0.8rem;
                    border-radius: 10px;
                }

                .invalid {
                    color: red;
                    font-size: 0.75rem;
                }

                .input-two-fields {
                    display: flex;
                    column-gap: 20px;

                    ::placeholder {
                        color: rgba(0, 0, 0, .8);
                        font-size: 0.8rem;
                    }

                    input {
                        width: 50%;
                        padding: 12px 25px;
                        border: 1px solid rgba(0, 0, 0, .2);
                        color: black;
                        font-size: 0.8rem;
                        border-radius: 10px;
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: end;
                column-gap: 15px;


                span {
                    padding: 10px 40px;
                    border: 2px solid rgba(0, 0, 0, .2);
                    color: black;
                    border-radius: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 0.9rem;

                }

                button:nth-child(2) {
                    padding: 10px 50px;
                    background: #4b87e0;
                    font-weight: 600;
                    border-radius: 15px;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }
}