@import "../../global/global.scss";

@media only screen and (max-width: 1537px) {
    .login-success-modal-cover {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 10;
        background: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;

        .modal {
            width: 400px;
            height: 350px;
            background: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            align-items: center;
            row-gap: 10px;

            i {
                margin-top: 30px;
                font-size: 100px;
                color: rgb(25, 202, 25);
            }

            strong {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
            }

            p {
                text-align: center;
                font-size: 0.8rem;
                font-weight: 400;
                color: rgba(0, 0, 0, .7);
            }

            a {
                margin-top: 15px;
                width: 100%;
                text-align: center;
                padding: 10px;
                border: 1px solid rgba(0, 0, 0, .1);
                color: rgba(0, 0, 0, .7);
                font-weight: 600;
                font-size: 0.85rem;
                border-radius: 15px;
            }
        }
    }
}