@import "../../global/global.scss";

@media only screen and (max-width: 1537px) {
    .navbar-container {
        position: fixed;
        width: 100%;
        height: 88px;
        background: $main-color;
        display: flex;
        padding: 0 60px;
        align-items: center;
        justify-content: space-between;
        z-index: 10;

        .navbar-main {
            display: flex;
            align-items: center;
            column-gap: 60px;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                cursor: pointer;
            }

            a {
                color: $second-color;
                font-size: 0.8rem;
                font-family: $main-font;
            }
        }

        .navbar-second {
            display: flex;
            column-gap: 40px;
            align-items: center;

            a {
                position: relative;
                color: $second-color;
                font-size: 0.8rem;
                font-family: $main-font;

                i {
                    font-size: 26px;
                    color: $second-color;
                }

                p {
                    top: -17px;
                    left: 23px;
                    position: absolute;
                    font-size: 0.5rem;
                    padding: 3px 7px;
                    text-align: center;
                    border-radius: 50%;
                    background: $second-color;
                    color: black;
                    font-weight: 600;
                }
            }

            i {
                font-size: 22px;
                color: $second-color;
            }

            a:nth-child(3) {
                padding: 10px 25px;
                background: $second-color;
                color: black;
                font-weight: 700;
                border-radius: 20px;
            }
        }

        .navbar-third {
            display: flex;
            align-items: center;
            column-gap: 50px;

            a {
                position: relative;

                i {
                    font-size: 26px;
                    color: $second-color;
                }

                p {
                    top: -17px;
                    left: 23px;
                    position: absolute;
                    font-size: 0.5rem;
                    padding: 3px 7px;
                    text-align: center;
                    border-radius: 50%;
                    background: $second-color;
                    color: black;
                    font-weight: 600;
                }
            }

            .info {
                background: $second-color;
                border-radius: 15px;
                align-items: center;
                column-gap: 10px;
                padding: 5px 10px 5px 20px;
                display: flex;
                cursor: pointer;

                i:nth-child(2) {
                    font-size: 26px;
                    color: black;
                }

                strong {
                    font-size: 0.9rem;
                    color: black;
                    font-family: $main-font;
                    font-weight: 400;
                }
            }
        }
    }

    .shopnav-container {
        width: 350px;
        height: 100%;
        // border-right: 1px solid rgba(255, 255, 255, .2);

        .shopnav {
            padding: 0 40px;
            display: flex;
            flex-direction: column;

            .shopnav-item {
                padding: 40px 0;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                display: flex;
                flex-direction: column;
                row-gap: 25px;

                strong {
                    font-size: 0.9rem;
                    color: $fade-white;
                    font-family: $main-font;
                }

                ::placeholder {
                    font-size: 0.7rem;
                    font-family: $main-font;
                }

                input {
                    padding: 10px 15px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    font-size: 0.7rem;
                    font-family: $main-font;
                    font-weight: 700;
                }

                input:hover {
                    border: 1px solid rgba(255, 255, 255, .4);
                }

                .shopnav-item-link {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    a {
                        padding: 8px 20px;
                        color: $fade-white;
                        font-weight: 400;
                        font-family: $main-font;
                        border: 2px solid rgba(255, 255, 255, .2);
                        border-radius: 10px;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

    .checkoutnav-container {
        width: 100%;
        height: 100px;
        background: $main-color;
        display: flex;
        padding: 0 80px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        justify-content: space-between;

        .checkoutnav-logo {
            display: flex;
            align-items: center;
            column-gap: 30px;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }

            strong {
                font-size: 18px;
                color: $fade-white;
                font-family: $main-font;
                color: $second-color;
            }
        }

        .checkoutnav-process {
            position: relative;
            display: flex;
            column-gap: 25px;
            align-items: center;

            .line {
                width: 50px;
                // position: absolute;
                border: 1px solid rgba(255, 255, 255, .2);
            }

            .process-item {
                display: flex;
                column-gap: 10px;
                align-items: center;

                .loading {
                    display: flex;
                    align-items: center;
                }

                i {
                    font-size: 28px;
                    color: green;
                }


                p {
                    font-family: $main-font;
                    color: $fade-white;
                    font-size: 0.85rem;
                }
            }

            .process-item:nth-child(5) {
                i {
                    color: red !important;
                }
            }
        }
    }

    .setting-nav-container {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        display: flex;
        background: rgba(0, 0, 0, .7);
        overflow: hidden;
        justify-content: end;

        .setting-nav {
            position: relative;
            width: 300px;
            height: 100%;
            overflow-y: hidden;
            background: black;
            display: flex;
            flex-direction: column;
            padding: 30px 25px;
            transition: .5s;
            left: 0;

            .setting-nav-header {
                display: flex;
                column-gap: 15px;
                align-items: center;

                i {
                    color: white;
                    font-size: 32px;
                }

                div {
                    strong {
                        font-size: 0.85rem;
                        color: white;
                    }

                    p {
                        font-size: 0.75rem;
                        color: $fade-white;
                    }
                }
            }

            .setting-nav-list {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                row-gap: 30px;

                .setting-item {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    column-gap: 20px;
                    border-radius: 10px;
                    font-family: $global-font;

                    i {
                        color: $fade-white;
                        font-size: 18px;
                    }

                    p {
                        color: $fade-white;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }

                .close {
                    cursor: pointer;
                    margin-top: 30px;
                    justify-self: end;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    column-gap: 5px;
                    border: 1px solid rgba(255, 255, 255, .2);
                    border-radius: 10px;

                    i,
                    p {
                        color: $fade-white;
                    }

                    i {
                        font-size: 22px;

                    }

                    p {
                        font-size: 0.9rem;
                    }
                }

                .setting-item:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }
        }
    }

    .setting-nav-container-close {
        display: none;
    }

    .dashnav-container {
        width: 220px;
        height: 100vh;
        border-right: 1px solid rgba(0, 0, 0, .2);

        .dashnav {
            display: flex;
            flex-direction: column;

            .dashnav-header {
                display: flex;
                align-items: center;
                column-gap: 15px;
                padding: 25px 20px;
                border-bottom: 1px solid rgba(0, 0, 0, .1);

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                strong {
                    font-size: 0.9rem;
                    font-weight: 700;
                }
            }

            ::-webkit-scrollbar {
                width: 0;
            }

            .dashnav-list {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                .dashnav-list-item {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);

                    .dashnav-list-item-header {
                        padding: 0 20px;
                        margin-bottom: 10px;

                        p {
                            font-weight: 400;
                            font-size: 0.75rem;
                            color: $fade-black;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        padding: 15px 20px;
                        column-gap: 10px;
                        transition: .4s;

                        i {
                            font-size: 14px;
                            color: $fade-black;
                            font-weight: 400;
                        }

                        p {
                            font-size: 0.75rem;
                            color: $fade-black;
                            font-weight: 400;
                        }
                    }

                    a:hover {
                        background: rgba(0, 0, 0, .1);
                    }

                    a.active {
                        background: $fade-black;

                        i,
                        p {
                            color: white;
                        }
                    }
                }

                .logout {
                    padding: 15px 20px;
                    text-align: center;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    color: black;
                    font-weight: 600;
                    font-size: 0.75rem
                }
            }
        }
    }
}