@import "../../global/global.scss";

@media only screen and (max-width: 1537px) {
    .my-order-detail-container {
        width: calc(100% - 40% - 220px);
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        .error-page {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

        .not-found {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 10px;

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.9rem;
                font-weight: 400;
            }
        }

        .loading {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .my-order-detail-header {
            padding: 25px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            strong {
                font-size: 1.1rem;
            }

            p {
                font-size: 0.75rem;
                padding: 5px 30px;
                border-radius: 15px;
                font-weight: 600;
            }

            .pending {
                background: rgba(231, 237, 129, 0.621);
                color: rgb(116, 119, 17);

            }
        }

        .my-order-main {
            display: flex;
            flex-direction: column;
            padding: 25px 40px;

            .cart {

                thead {
                    tr {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        padding: 10px 0;
                        border-bottom: 1px solid rgba(0, 0, 0, .7);

                        th {
                            font-size: 0.75rem;
                        }

                        th:nth-child(1) {
                            text-align: start;
                            padding-left: 5px;
                        }

                        th:nth-child(2) {
                            text-align: start;
                        }

                        th:nth-child(3) {
                            text-align: center;
                        }

                        th:nth-child(4) {
                            text-align: center;
                        }
                    }
                }

                tbody {
                    tr {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        padding: 12px 0;

                        td {
                            font-size: 0.75rem;
                        }

                        td:nth-child(1) {
                            padding-left: 10px;
                            text-align: start;
                        }

                        td:nth-child(2) {
                            text-align: start;
                        }

                        td:nth-child(3) {
                            text-align: center;
                        }

                        td:nth-child(4) {
                            text-align: center;
                        }
                    }
                }

            }

            .info {
                margin-top: 40px;
                display: flex;
                flex-direction: column;

                .header {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    strong {
                        font-size: 1.1rem;
                    }

                    p {
                        font-size: 0.8rem;
                        color: rgba(0, 0, 0, .7);
                    }
                }

                .main {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 25px;

                    .info-item {
                        display: flex;
                        justify-content: space-between;

                        strong {
                            font-size: 0.85rem;
                        }

                        p {
                            font-size: 0.85rem;
                            color: rgba(0, 0, 0, .7);
                        }
                    }
                }
            }

            .cancel {
                margin: 40px 0;
                padding: 10px 20px;
                background: red;
                font-size: 0.9rem;
                font-weight: 600;
                color: white;
                border-radius: 15px;
                cursor: pointer;
            }
        }
    }
}