@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input,
select,
button {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1537px) {
  .homepage-container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
  .homepage-container .homepage-intro {
    width: 100%;
    height: 700px;
    margin-top: 88px;
    position: relative;
    overflow-y: hidden;
  }
  .homepage-container .homepage-intro video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: 1;
  }
  .homepage-container .homepage-intro .homepage-intro-header {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homepage-container .homepage-intro .homepage-intro-header span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.75rem;
  }
  .homepage-container .homepage-intro .homepage-intro-header h2 {
    margin-top: 10px;
    width: 50%;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 34px;
  }
  .homepage-container .homepage-intro .homepage-intro-header div {
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
  }
  .homepage-container .homepage-intro .homepage-intro-header div p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.9;
  }
  .homepage-container .homepage-intro .homepage-intro-header div .other-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .homepage-container .homepage-intro .homepage-intro-header div .other-link a {
    padding: 10px 0;
  }
  .homepage-container .homepage-intro .homepage-intro-header div .other-link a:nth-child(1) {
    width: 30%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 0.85rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 10px;
  }
  .homepage-container .homepage-intro .homepage-intro-header div .other-link a:nth-child(2) {
    border-radius: 10px;
    width: 70%;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: 600;
    font-size: 0.85rem;
    text-align: center;
    text-justify: center;
  }
  .homepage-container .feature-intro {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    background: #131313;
  }
  .homepage-container .feature-intro .feature-intro-header {
    padding: 0 60px;
    margin-bottom: 60px;
  }
  .homepage-container .feature-intro .feature-intro-header h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 34px;
    color: white;
  }
  .homepage-container .feature-intro .features {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  .homepage-container .feature-intro .features .feature-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    justify-content: space-between;
  }
  .homepage-container .feature-intro .features .feature-item img {
    width: 120px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    align-self: center;
  }
  .homepage-container .feature-intro .features .feature-item h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
  }
  .homepage-container .feature-intro .features .feature-item p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    line-height: 1.9;
  }
  .homepage-container .feature-intro .features .feature-item:nth-child(1),
  .homepage-container .feature-intro .features .feature-item:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
  }
  .homepage-container .shop-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #131313;
    row-gap: 80px;
  }
  .homepage-container .shop-intro .shop-intro-header {
    padding: 0 60px;
  }
  .homepage-container .shop-intro .shop-intro-header h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 34px;
    color: white;
  }
  .homepage-container .shop-intro .shop-intro-item {
    height: 800px;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
  }
  .homepage-container .shop-intro .shop-intro-item img {
    width: 45%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) strong {
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) p {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 40px;
    color: black;
    background: #BCAB6F;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) strong {
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) p {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header div:nth-child(1) a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 40px;
    color: black;
    background: #BCAB6F;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list {
    display: flex;
    flex-direction: column;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list strong {
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div {
    margin: 15px 0;
    height: 400px;
    display: flex;
    justify-content: space-between;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div .product-item {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    row-gap: 30px;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div .product-item img {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div .product-item strong {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 1rem;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div .product-item p {
    line-height: 1 !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    letter-spacing: normal !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .homepage-container .shop-intro .shop-intro-item .shop-intro-item-header .shop-intro-item-list div .product-item a {
    padding: 7px 30px !important;
    color: black !important;
    background: #BCAB6F !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .homepage-container .blog-intro {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background: #131313;
    row-gap: 80px;
    padding-top: 80px;
  }
  .homepage-container .blog-intro .blog-intro-header {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .homepage-container .blog-intro .blog-intro-header h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 34px;
    color: white;
  }
  .homepage-container .blog-intro .blog-intro-header a {
    padding: 12px 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .homepage-container .blog-intro .blog-list {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
  }
  .homepage-container .blog-intro .blog-list .blog-item {
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    max-height: 102px;
    height: 102px;
    overflow: hidden;
  }
  .homepage-container .blog-intro .blog-list .blog-item i {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .blog-intro .blog-list .blog-item div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .homepage-container .blog-intro .blog-list .blog-item div strong,
  .homepage-container .blog-intro .blog-list .blog-item div p {
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .blog-intro .blog-list .blog-item div strong {
    font-size: 0.9rem;
  }
  .homepage-container .blog-intro .blog-list .blog-item div p {
    max-height: 36px;
    font-size: 0.75rem;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .homepage-container .about-intro {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #131313;
  }
  .homepage-container .about-intro div {
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .homepage-container .about-intro div img {
    width: 120px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .homepage-container .about-intro div p {
    font-size: 1rem;
    font-family: 700;
    font-family: "Roboto Mono", monospace;
    color: white;
    text-align: center;
  }
  .homepage-container .about-intro div strong {
    font-size: 0.85rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
  }
  .homepage-container .about-intro div span {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
}/*# sourceMappingURL=homepage.css.map */